lement.style {
    margin-top: 3px;
}
.cart-page .table .thead-dark th {
    text-align: center;
    background: #3F69AA;
    border-color: #3F69AA;
    vertical-align: middle;
}
.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
th {
    text-align: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
.cart-page .table {
    width: 100%;
    text-align: center;
    margin-bottom: 45px;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
table {
    border-collapse: collapse;
}
user agent stylesheet
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
body {
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #ffffff;
}



.cart-page .table td {
    color: #666666;
    font-size: 16px;
    font-weight: 600;
    vertical-align: middle;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
td {
    display: table-cell;
    vertical-align: inherit;
}
.cart-page .table {
    width: 100%;
    text-align: center;
    margin-bottom: 45px;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
table {
    border-collapse: collapse;
}
user agent stylesheet
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
body {
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #ffffff;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
img {
    vertical-align: middle;
    border-style: none;
    height: 7rem;
}

.cart-page .table button {
    height: 30px;
    padding: 2px 10px;
    text-align: center;
    color: #ffffff;
    background: #3F69AA;
    border: none;
}
.cart-page .table input {
    width: 60px;
    height: 30px;
    color: #ffffff;
    text-align: center;
    background: rgba(63, 105, 170, .5);
    border: none;
}
button, select {
    text-transform: none;
}




