.section-header {
    position: relative;
    max-width: 700px;
    margin: 0 auto 30px auto;
}

.section-header h2,
.section-header h3 {
    position: relative;
    color: #3F69AA;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 15px;
}

.section-header h2::after,
.section-header h3::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    left: calc(50% - 25px);
    bottom: 0;
    background: #3F69AA;
}

.section-header p {
    font-size: 16px;
    text-align: center;
    margin: 0
}

.brand {
    position: relative;
    padding: 0 0 60px 0;
}

.brand-slider{
    position: relative;
}

.brand-item {
    text-align: center; 
}

.brand-item img {
    max-width: 100%;
    margin: auto; 
}
