.checkout {
    position: relative;
    padding: 60px 0;
}

.checkout .billing-address,
.checkout .shipping-address {
    position: relative;
    width: 100%;
}

.checkout .shipping-address {
    display: none;
    margin-top: 30px;
}

.checkout .billing-address h2,
.checkout .shipping-address h2 {
    color: #666666;
    font-size: 30px;
    font-weight: 700;
}

.checkout .checkout-summary,
.checkout .checkout-payment {
    position: relative;
    width: 100%;
}


.checkout .checkout-payment {
    margin-top: 30px;
}

.checkout .checkout-summary h2,
.checkout .checkout-payment h2 {
    color: #666666;
    font-size: 30px;
    font-weight: 700;
}

.checkout .checkout-summary .checkout-content,
.checkout .checkout-payment .payment-methods {
    padding: 30px;
    background: #3F69AA;
}

.checkout .checkout-summary .checkout-content h3 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
}

.checkout .checkout-summary .checkout-content p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

.checkout .checkout-summary .checkout-content p.sub-total,
.checkout .checkout-summary .checkout-content p.ship-cost {
    padding-top: 15px;
    border-top: 1px solid #ffffff;
}

.checkout .checkout-summary .checkout-content p span,
.checkout .checkout-summary .checkout-content h4 span {
    float: right;
}

.checkout .checkout-summary .checkout-content h4 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding-top: 12px;
    border-top: 1px solid #ffffff;
    margin: 0;
}

.checkout .checkout-payment .payment-methods {
    color: #ffffff;
}

.checkout .checkout-payment .payment-methods .payment-content {
    display: none;
}

.checkout .checkout-payment .checkout-btn button {
    margin-top: 15px;
    width: calc(50% - 15px);
    height: 50px;
    padding: 2px 10px;
    text-align: center;
    color: #ffffff;
    background: #3F69AA;
    border: none;
}

.form-control,
.custom-select {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #3F69AA;
    border-radius: 0;
    margin-bottom: 15px
}

.custom-radio,
.custom-checkbox {
    margin-bottom: 15px;
}

.custom-radio .custom-control-label::before,
.custom-checkbox .custom-control-label::before {
    border-color: #3F69AA;
    border-radius: 0;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    color: #ffffff;
    background: #3F69AA;
}

button.btn {
    color: #ffffff;
    background: #3F69AA;
    border-radius: 0;
}