.contact {
    position: relative;
    padding: 60px 0;
}

.contact .contact-info .section-header h3,
.contact .contact-info .section-header p {
    text-align: left;
}

.contact .contact-info .section-header p {
    font-weight: 400;
}

.contact .contact-info .section-header h3::after {
    left: 0;
}

.contact .contact-info img {
    max-width: 100%;
    margin-bottom: 15px;
}

.contact .contact-info h4 {
    margin-bottom: 10px;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
}

.contact .contact-info h4 i {
    color: #3F69AA;
    margin-right: 5px;
}

.contact .social {
    position: relative;
    width: 100%;
}

.contact .social a {
    display: inline-block;
    margin: 10px 10px 0 0;
    width: 40px;
    height: 40px;
    padding: 3px 0;
    text-align: center;
    font-size: 20px;
    border: 1px solid #3F69AA;
}

.contact .social a i {
    color: #3F69AA;
}

.contact .social a:hover {
    background: #3F69AA;
}

.contact .social a:hover i {
    color: #ffffff;
}

.contact .form {
    color: #666666;
}

@media (max-width: 767.98px) {
    .contact .form {
        margin-bottom: 30px;
    }
}

.contact .form input,
.contact .form textarea {
    color: #666666;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border: 1px solid #3F69AA;
    border-radius: 0;
    box-shadow: none;
}

.contact .form input:focus,
.contact .form textarea:focus {
    box-shadow: none;
}

.contact .form button[type="submit"] {
    padding: 6px 25px 7px 25px;
    color: #3F69AA;
    letter-spacing: 1px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid #3F69AA;
    background: #ffffff;
}

.contact .form button[type="submit"]:hover {
    background: #3F69AA;
    color: #FFFFFF;
}