.top-header {
    padding: 15px 0;
    background: #ffffff;
}

.top-header .logo {
    text-align: left;
    overflow: hidden;
}

.top-header .logo a img {
    max-height: 60px;
}

.top-header .search {
    width: 100%;
}

.top-header .search input[type=text] {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #3F69AA;
}

.top-header .search button {
    position: absolute;
    width: 40px;
    height: 38px;
    top: 1px;
    right: 16px;
    padding: 0 15px;
    border: none;
    background: none;
    color: #3F69AA;
}

.top-header .search button:hover {
    background: #3F69AA;
    color: #ffffff;
}

.top-header .user {
    width: 100%;
    text-align: right;
}

.top-header .user .dropdown {
    display: inline-block;
    margin-right: 15px;
}

.top-header .user .dropdown-menu {
    border-radius: 0;
}

.top-header .user .cart {
    display: inline-block;
}

.top-header .user .cart i {
    color: #3F69AA;
    font-size: 18px;
}

.top-header .user .cart span {
    color: #666666;
    font-size: 14px;
}

@media (min-width: 768px) {
    .top-header {
        max-height: 90px;
    }
}

@media (max-width: 767.98px) {

    .top-header .logo,
    .top-header .search,
    .top-header .user {
        text-align: center;
        margin-bottom: 15px;
    }

    .top-header .user {
        margin-bottom: 0;
    }
}