.header {
    position: relative;
}

.header .navbar {
    height: 100%;
    padding: 0;
}

.header .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (min-width: 768px) {

    .header,
    .header .navbar {
        background: #3F69AA !important;
    }

    .header .navbar-brand {
        display: none;
    }

    .header a.nav-link {
        padding: 8px 15px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media (max-width: 768px) {

    .header,
    .header .navbar {
        background: #333333 !important;
    }

    .header a.nav-link {
        padding: 5px;
    }

    .header .dropdown-menu {
        box-shadow: none;
    }
}